body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #CBBD93;
}

h1 {
  color: #333;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.output {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #e9e9e9;
  border-radius: 5px;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}
